@font-face {
    font-family: AktivRegular;
    src: url("../fonts/AktivGrotesk-Regular.otf");
}
@font-face {
    font-family: AktivBold;
    src: url("../fonts/Dalton\ Maag\ -\ Aktiv\ Grotesk\ Ex\ Bold.ttf");
}
@font-face {
    font-family: RoxBold;
    src: url("../fonts/RoxboroughCF-Bold.ttf");
}

body{
    background-color:#0A0B0B;
    scrollbar-width: none; /*firefox*/
    -ms-overflow-style:none; /*IE and Edge */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-user-drag: none;

}

body::-webkit-scrollbar{
    display: none;
}

p{
    font-family: AktivRegular;
    text-align: center;
    line-height: 35px;
    font-size: 1.563rem;
    color: #fffefa;
}

a{
    text-decoration: none;
}
.highlight{
    color: #ffda00;
}
#welcomsg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #0A0B0B;
    z-index: 10;
}
.tap-continue{
    font-size:1.75rem; ;
}
#touch-outer,#touch-inner{
    width: 0px;
    height: 0px;
    border-radius: 100%;
    border: #fffefa 6px solid;
    position: absolute;
    opacity: 1;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: touch;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#touch-outer{
    border: #fffefa 5px dashed;
    animation-name: touch-outer;
}
@keyframes touch{
    from {width: 0px;
        height: 0px;
        opacity: 1;
    }
    to {width: 50px;
        height: 50px;
        opacity: 0;
    }
}

@keyframes touch-outer{
    from {width: 0px;
        height: 0px;
        opacity: 1;
        border: #ffda00 5px solid;
    }
    to {width: 80px;
        height: 80px;
        opacity: 0;
        border: #ffda00 5px solid;
    }
}


#wmsg{
    text-align: center;
    color: #fffefa;
    text-align: center;
    font-size: 3.75rem;
    font-family: RoxBold;
    width: 70%;
    line-height: 80px;
    margin: 400px auto;
}

#title{
    color: #fffefa;
    text-align: center;
    margin-top: 49px;
    cursor: pointer;
}

h1{
    font-size: 3.75rem;
    font-family: RoxBold;
    color: #fffefa;
}

#and{
    width: 55px;
    height: 50px;
}

h2{
    font-size: 1.875rem;
    font-family: AktivBold;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 160px;
    margin-top: 60px;
}

.linktxt{
    justify-content: center;
    place-self: center;
}

.elipses{
    background: linear-gradient(270deg, #00a7d4, #78a880);
    width: 134px;
    height: 134px;
    border-radius: 50%;
    cursor: pointer;
}

.elipses.selected{
    background: #ffda00;
}

.iconimg{
    width: 90px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
}

#cottonlink{
    grid-area: 1 / 1 / 2 / 2; 
}
#waterlink{
    grid-area: 2 / 1 / 3 / 2;
}
#woollink{
    grid-area: 3 / 1 / 4 / 2;
}
#sociallink{
    grid-area: 1 / 3 / 2 / 4;
}
#packagelink{
    grid-area: 2 / 3 / 3 / 4;
}
#chemicalslink{
    grid-area: 3 / 3 / 4 / 4;
}

.iname{
    color: #fffefa;
    text-align: center;
    padding-top: 25%;
}

#infopack{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    /* to move the anchor point from top left to center */
    width: 500px;
}

#dircontainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.home-ani{
    width: 1066px;
    height: 600px;
}

#langcontainer{
    display: flex;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    position: absolute;
    top: 86%;
    left: 50%;
   transform: translate(-50%,0%);
}

#en{
    margin-right: 50px;
    margin-left: -28px;
    text-decoration: none;
    color: #fffefa;
}

#en.active, #nl.active{
z-index: 10;
}

#nl{
    text-decoration: none;
    color: #fffefa;
}
#btnslider{
    position: absolute;
    width: 145px;
    left: -23%;
    height: 33px;
    background: linear-gradient(270deg, #00a7d4, #78a880);
    border-radius: 25px;
    transition: 500ms ease-in-out;
    z-index: -1;
}
#btnslider.open{
    left: 46%;
    animation: move 500ms;
    animation-iteration-count: 1;
}
@keyframes move {
    0%   {width: 145px;
        left: -23%;}
    50%  {width: 283px;
        left: -23%;}
    75%  {width: 283px;
        left: -23%;}  
    100% {width: 145px;
          left: 46%;}
  }

.slideContainer{
    width: 610px;
    margin-left: -35px;
}
.slick-list.draggable{
padding:  0 !important;
}

.anim-img{
    width: 600px;
    height: 337px;
    margin-bottom: -30px;
}

.ani-desc{
    position: absolute;
    width:590px;
    /* margin-top:35px; */
}

.bci-logo{
    width: 300px;
    height: 127px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 20px;
}

.icon-logo{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.woolstats-img{
    width: 400px;
    height: 303px;
    margin: 0 auto;
    margin-top: 100px;
}


#social-Lang-switch{
    margin-left: auto;
    width: fit-content;
    margin-left: -10%;
}
#social-Lang-switch.active{
    font-size: 1.4rem;
    width: fit-content;
    margin-left: -29%;
}

